<div class="row">
  <div class="col-7">
    <section class="container">
     
      <div class="row">
        <div class="col-md-6 card1">
          <div class="card">
            <div class="card-body">
              <img src="../../assets/Low interest rate.png" style="width:60px"/>
              <br/>
              <h6>Sample Low Interest Card</h6>
              <p class="card-text">Some example text. Some example text.<br/>It will so help with 24/7.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 ml-auto card2">
          <div class="card" style="background-color: #663298;">
            <div class="card-body">
              <img src="../../assets/Secure Payments.png" style="width:60px"/>
              <br/>
              <h6 style="color:white;"> Low Interest Rate</h6>
              <p  style="color:white;" class="card-text">Some example text. Some example text.<br/>It will so help with 24/7.</p>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mr-auto">
          <br/>
          <div class="card">
          <div class="card-body">
            <img src="../../assets/Secure Payments.png" style="width:60px"/>
            <br/>
            <h6> Low Interest Rate</h6>
            <p class="card-text">Some example text. Some example text.<br/>It will so help with 24/7.</p>
          </div>
        </div></div>
        <div class="col-md-4"></div>
      </div><br/>
      <div class="row">
        <div class="col-md-5 md-auto">
          <br/>
          <div class="card">
          <div class="card-body">
            <img src="../../assets/Get Paid Instantly.png" style="width:60px"/>
            <br/>
            <h6> Secure Payment</h6>
            <p class="card-text">Some example text. Some example text.<br/>It will so help with 24/7.</p>
          </div>
        </div></div>
        <div class="col-md-5 ml-md-auto">
          <br/>
          <div class="card" style="background-color: #663298;">
            <div class="card-body">
              <img src="../../assets/Secure Payments.png" style="width:60px"/>
              <br/>
              <h6 style="color:white ;"> Low Interest Rate</h6>
              <p style="color:white ;" class="card-text">Some example text. Some example text.<br/>It will so help with 24/7.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-5">
    <div class="card" style="height:400px;" >
      <div class="card-body">
        <h2>Boost Your Business<br/> <u>with </u>Open&nbsp;&nbsp;&nbsp;
        </h2>
        <br/>
        <p>Get your handson a term loan that's<br/>crafted for your business</p>
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-rounded text-center" style="background-color:#663298;color:white ;border-radius: 10%;"  type="submit">Get an Opening Account</button>
        <br/><br/>
      </div></div>
  </div>
</div>
