<div class="card" style="background-color: #663298;"  >
 <div  class="card-header"></div>>
  <div class="card-body">
    
    <span style="color:white"><h4>Loan Amt</h4></span>
    <span class="text-center" style="color:white">&#8377;15000</span><br/><br/>
    <span style="color:white"><h5>Ur EMI ll be</h5></span>
    <span class="text-center" style="color:white">&#8377;3000</span>
    <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-light btn-rounded text-center" style="border-radius: 40%;"  type="submit">Get Money</button>
    </div>
    <br/><br/>
 
</div>
