.form-group.floating>label {
    bottom: 34px;
    left: 8px;
    position: relative;
    background-color: white;
    padding: 0px 5px 0px 5px;
    font-size: 1.1em;
    transition: 0.1s;
    pointer-events: none;
    font-weight: 500 !important;
    transform-origin: bottom left;
}

.form-control.floating:focus~label{
    transform: translate(1px,-85%) scale(0.80);
    opacity: .8;
    color: #005ebf;
}

.form-control.floating:valid~label{
    transform-origin: bottom left;
    transform: translate(1px,-85%) scale(0.80);
    opacity: .8;
}

.rupee-txt
{
    padding-left: 12px;
}

.rupee-img
{
    position: relative;
    left: 17px;
    top: 2px;
    height: 14px;
    width: 10px;
    display: inline-block;
    /* background-image: url('rupee.png'); */
}
fieldset {
    background-color:whitesmoke;
   /* // border: wheat; */
  }
  
 